.header {
    padding: 10px 0;
    text-align: center;
    background: #222;
    text-align: left;
  }
  .header img {
    width: 100px;
    height: 13px;
  }

  .title{
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-left: 10px;
  }